<div class="blog-preview">

	<a href="#" class="blog-preview__image" <% if( image ) {%> style="background-image: url(<%= image %>);"<% } %>></a>

	<div class="blog-preview__content">
		<div class="blog-preview__episode">Inspired by Episode 11  |  7 min </div>

		<a href="#" class="blog-preview__title">PR for startups - What's it all about?</a>

		<div class="blog-preview__text">
			<strong>Leah Walter</strong> is Head of communication at minday.com walked us through the challenges of doing PR
			for startups and why communication is essential…<span class="blog-preview__read-more">Read More</span>
		</div>

		<a href="#" class="blog-preview__category">Design</a>
	</div>
</div>