<div class="hero-blog-preview" <% if( image ) {%> style="background-image: url(<%= image %>);"<% } %>>>

	<div class="hero-blog-preview__content">
		<div class="hero-blog-preview__episode">Inspired by Episode 13  |  7 min </div>

		<h2 class="hero-blog-preview__title">Hiring Quality and Quantity fast!</h2>

		<div class="hero-blog-preview__text">
			<strong>Leah Walter</strong> is Head of communication at minday.com walked us through the challenges of doing PR
			for startups and why communication is essential to succeed
		</div>

		<div class="hero-blog-preview__category">Design</div>
	</div>
</div>