<section class="info-accordion">
	<h2 class="info-accordion__title">Startup for Startup One on One Session's Guiding Principles:</h2>
	<div class="info-accordion__item">
		<div class="info-accordion__head">Privacy Guaranteed</div>
		<div class="info-accordion__content">
			@require('inner-content.html')
		</div>
	</div>
	<div class="info-accordion__item">
		<div class="info-accordion__head">No Bullsh*t</div>
		<div class="info-accordion__content">
			@require('inner-content.html')
		</div>
	</div>
	<div class="info-accordion__item">
		<div class="info-accordion__head">Equal Exchange</div>
		<div class="info-accordion__content">
			@require('inner-content.html')
		</div>
	</div>
	<div class="info-accordion__item">
		<div class="info-accordion__head">Challenge Accepted</div>
		<div class="info-accordion__content">
			@require('inner-content.html')
		</div>
	</div>
	<div class="info-accordion__item">
		<div class="info-accordion__head">Privacy Guaranteed</div>
		<div class="info-accordion__content">
			@require('inner-content.html')
		</div>
	</div>
</section>