<section class="inner-content">

	<h1>One-on-One Meetings</h1>

	<p>Every day, entrepreneurs face a thousand decisions and challenges, and sometimes we all stand frozen at a fork in
		the road. When you're driving a car asking for help can be uncomfortable, let alone when you're driving a
		company forward. It can also be difficult to find the right person to ask for assistance. We've all made wrong
		turns, so let's learn from each other's mistakes instead of repeating them ourselves. Everyone has unique
		experiences and insights we can learn from, so let's all openly share what we've learned along the way.</p>

	<p>With this in mind, Startup for Startup invites founders of early-mid stage startups to join us for a one-on-one
		brainstorming session. Here, we share from our experience and learn from yours.</p>

	<p>Before we meet, we ask that you review the guiding principles for our one-on- one sessions and answer some
		questions. These help all of us prepare for our session and get the most out of our time together.</p>

	<p><a href="#">We're looking forward to meeting you!</a></p>

</section>