<div class="meet-hosts">
	<h2 class="meet-hosts__title">Meet the Hosts</h2>
	<div class="meet-hosts__list">
		<div class="meet-hosts__item">
			<div class="meet-hosts__head">
				<div class="meet-hosts__ava"><img src="<%= image %>" alt="Ava"></div>
				<h3 class="meet-hosts__name">Lior Krengel</h3>
				<p>Head of Startup for Startup at monday.com</p>
			</div>
			<p class="meet-hosts__text">
				Lior joined monday.com to launch a giving back initiative for the startup community. Lior was formerly a
				Principal at Mangrove Capital Partners, a European VC, where she focused on investing in early stage
				startups. Her engagement and contribution to the startup ecosystem began as she served as the General
				Manager of the co-working space for entrepreneurship and innovation, “The Library Tel Aviv”
			</p>
		</div>
		<div class="meet-hosts__item">
			<div class="meet-hosts__head">
				<div class="meet-hosts__ava"><img src="<%= image %>" alt="Ava"></div>
				<h3 class="meet-hosts__name">Lior Krengel</h3>
				<p>Head of Startup for Startup at monday.com</p>
			</div>
			<p class="meet-hosts__text">
				Lior joined monday.com to launch a giving back initiative for the startup community. Lior was formerly a
				Principal at Mangrove Capital Partners, a European VC, where she focused on investing in early stage
				startups. Her engagement and contribution to the startup ecosystem began as she served as the General
				Manager of the co-working space for entrepreneurship and innovation, “The Library Tel Aviv”
			</p>
		</div>
	</div>
</div>