<div class="menu">

    <button type="button" class="menu__btn"><i></i></button>

    <div class="menu__panel">

        <div class="menu__wrap">

            <ul>

                <li><a href="#" class="menu__item">About Us</a></li>
                <li><a href="#" class="menu__item">Podcast</a></li>
                <li class="active"><a href="#" class="menu__item">Blog</a></li>
                <li><a href="#" class="menu__item">1:1 session</a></li>
                <li><a href="#" class="menu__item">Funders Column</a></li>

            </ul>

        </div>

        <div class="menu__footer">

            <a href="#" class="btn btn_2 btn_if">Contact Us</a>
            
            @require('./powered.html', {"types": " powered_2", "image": "powered-black.svg"})
            
        </div>

    </div>

</div>