<div class="podcast-preview custom-video">

	<video width="400" controls class="podcast-preview__video custom-video__video">
		<source src="../video/big_buck_bunny.mp4" type="video/mp4">
		Your browser does not support HTML5 video.
	</video>

	<div class="podcast-preview__content">
		<div class="custom-video__controls">
			<div class="custom-video__progressbar">
				<div class="progressbar">
					<span class="progressbar__slider"></span>
					<span class="progressbar__progress"></span>
				</div>
			</div>
			<div class="custom-video__volume">

				<div class="progressbar">
					<span class="progressbar__slider"></span>
					<span class="progressbar__progress"></span>
				</div>
			</div>
			<!--<input class="custom-video__volume" min="0" max="1" step="0.1" type="range" />-->
			<button class="custom-video__play-pause"></button>
		</div>
		<div class="podcast-preview__episode">Inspired by Episode 11  |  7 min </div>

		<a href="#" class="podcast-preview__title">PR for startups - What's it all about?</a>

		<div class="podcast-preview__text">
			<strong>Leah Walter</strong> is Head of communication at minday.com walked us through the challenges of doing PR
			for startups and why communication is essential…<span class="podcast-preview__read-more">Read More</span>
		</div>

		<a href="#" class="podcast-preview__category">Design</a>
	</div>
</div>